$blue: #5A91EC;
$light-grey: #F4F5F8;
$grey: #ccc;
$red: #D25B4A;
$green: #7AC663;

$primary-font: "Product Sans", Arial, sans-serif;


.right { text-align: right; }
.center { text-align: center; }
.hide { display: none; }
.small { font-size: 12px;}

.warning { font-weight: 300; background-color: $red; color: #fff; padding: 15px 20px;}
.confirm { font-weight: 300; background-color: $green; color: #fff; padding: 15px 20px;}

.container {

  max-width: 1200px;
}

.green { color: $green; }


html, body { width: 100%; height: 100%; font-family: $primary-font; letter-spacing: 1px !important; font-weight: 400; }
#header {
  z-index: 10; background-color: $blue; padding-left: 255px; width: 100%; height: 60px; padding-top: 15px; position: fixed; top: 0;
  .page_title {
    font-size: 20px; color: #FFF; font-family: $primary-font; font-weight: 400;

    a {
      color: #fff;
      text-decoration: none;
    }

    .menu_chevron {
      margin: 0 5px;
    }
  }
}
#header_new {
  z-index: 10; background-color: $blue; padding-left: 30px; width: 100%; height: 60px; padding-top:7px; position: fixed; top: 0;
  .page_title {
    font-size: 20px; color: #FFF; font-family: $primary-font; font-weight: 400;

    a {
      color: #fff;
      text-decoration: none;
    }

    .menu_chevron {
      margin: 0 5px;
    }
  }
}
#sidebar {
  position: fixed; width: 220px; background-color: #FFF; border-right: 1px solid #f1f1f1; height: 100%; z-index: 15;
  .header {
    padding: 40px 0; text-align: center; border-bottom: 1px solid #f1f1f1;
    img {
      width: 150px;
    }
  }
  .menu {

    .item {
      cursor: pointer; padding: 10px 15px; border-bottom: 1px solid #f1f1f1; color: #555; font-size: 14px;
      &.active {
        border-left: 5px solid #5DC954;
      }
    }
  }
  .site {
    cursor: pointer; padding: 10px 15px; border-bottom: 1px solid #f1f1f1; color: #555; font-size: 14px;
    background-color: #f1f1f1;
    position: relative;
    i {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
    }
  }
}

#content {
  background-color: $light-grey; width: 100%; padding: 75px 15px 15px 235px; min-height: 100%;
  &.wide { padding: 0; }
  &.full { padding: 75px 15px 15px 10px;; }
}

.card {
  background-color: #fff; margin: 15px 0 15px 0; border: 1px solid #f2f2f2; padding: 30px; border-radius: 0px !important;
  .title {
    margin-bottom: 15px;
  }
  .body {
    font-weight: 300;
  }
}

#login {
  margin-top: 100px;
}

.form-control {
  border: none;
  border-bottom: 1px solid $grey;
  border-radius: 0;
  padding-left: 5px;
  font-weight: 300;
  outline: 0 !important;
}


.form-group {
  position: relative;
  margin: 15px 0;


  label {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 10px;
    text-transform: uppercase;
  }
  input:valid + label, input:focus + label {
    top: -15px;
  }
}

input, textarea {
  outline: none;
  box-shadow:none !important;
  border-bottom: 1px solid $grey;
}

.btn {
  padding: 7px 20px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-blue {
  background: $blue;
  color: #fff;
}
.btn-grey {
  background: $grey;
  color: #fff;

}
.btn-green {
  background: $green;
  color: #fff;

}
.btn-red {
  background: $red;
  color: #fff;

}

.c_header {
  width: 100%;
  background-color: $green;
  border: 1px solid $light-grey;
  padding: 15px 15px;

  .logo_preview { padding-left: 0px;

    img { max-height: 90px; max-width: 300px; }
  }

  .menu_preview {
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    float: right;
    padding: 25px 20px 0 20px;


  }

  .phone {
    font-size: 24px;
    margin-top: 20px;
    text-align: right;

  }
}

.c_preheader {
  width: 100%;
  background-color: $green;
  border: 1px solid $light-grey;
  padding: 15px 15px;

  h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
  }

}

.c_cta {
  width: 100%;
  background-color: $green;
  border: 1px solid $light-grey;
  padding: 15px 15px;

  h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
  }

}


.c_subbanner {

  width: 100%;
  background-color: $green;
  border: 1px solid $light-grey;
  padding: 30px 15px 25px 15px;

  h1 {
    font-size: 26px;
    text-align: center;
    font-weight: 400;
  }


}

.c_about {

  width: 100%;
  background-color: $green;
  border: 1px solid $light-grey;
  padding: 50px 0;
  text-align: center;

  p {
    line-height: 30px;
    margin: 15px 0;
  }

}

.c_testimonial {

  width: 100%;
  background-color: $green;
  border: 1px solid $light-grey;
  padding: 30px;

  .quote-left {
    position: absolute;
    left: 0;
    top: 0;
  }

  .quote-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .testimonial {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    padding: 10px 30px;
    position: relative;

  }
  .author {
    font-weight: 500;
    text-align: center;
    padding: 30px;
    font-size: 18px;
  }


}

.c_banner {
  width: 100%;
  background-color: $green;
  border: 1px solid $light-grey;
  padding: 30px 0px;

  .bannertextarea {

    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;

  }

  .bannertextarea_blank {

    padding: 20px;
    margin-top: 20px;

  }

  .bannertitle {

    padding-top: 15px;
  }

  .bannertext {

    padding-top: 15px;
    font-weight: 300;
    font-size: 18px;
  }

  .bp_icon {
    font-size: 30px;
    position: absolute;
    left: 60px;
    top: 5px;
  }

  .bulletpoint {

    padding-left: 90px;
    width: 80%;
    margin: 10px 0;

  }

  .bulletpoint_mobile {

    margin: 10px 0;

  }

  .banner_form {

    background-color: #fff;
    margin-top: 20px;
    border: 10px orange solid;
  }

  .banner_form_header {

    background-color: orangered;
    padding: 25px 15px 15px 15px;

    h4 { color: #fff; text-align: center; }
    h5 { color: #fff; text-align: center; font-weight: 300; }

  }

  .banner_form_body {

    padding: 30px;

    .title { text-align: center; font-size: 16px; margin-bottom: 15px; }

    .form-control { border: 1px solid #ccc;}
    label { margin-top: 15px; }

    button { background-color: orangered; color: #fff; font-size: 20px; width: 100%; }

  }

}

.floating_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  background-color: $red;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  padding-top: 6px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.add_btn_icon {
  position: relative;
  text-align: center;
  background-color: $red;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  padding-top: 6px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.edit_btn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  color: $grey;
}

.dup_btn {
  position: absolute;
  right: -30px;
  top: 15px;
  font-size: 30px;
  color: $grey;
}

.clickable { cursor: pointer; }

.number_selection {
  margin: 5px;
  background-color: $light-grey;
  padding: 10px 15px;
  cursor: pointer;
}

.user {
  color: #ffffff;
  text-align: right;
  margin-right: 30px;
  font-weight: 300;
  padding-top: 10px;
  cursor: pointer;
  position: relative;

  .popup {

    color: #555555;
    position: absolute;
    top: 35px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #f2f2f2;

    .menu_item {

      border-bottom: 1px solid #f2f2f2;
      padding: 15px 30px;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}

.price_item {


  padding: 10px 20px;
  text-align: center;
}
.price {

  font-size: 30px;
  text-align: center;
  font-weight: 600;
  padding: 30px 0;

}
.divider {
  border-bottom: 2px solid #f2f2f2; margin: 0 -30px 15px -30px;
}

.footer {

  background-color: #555;
  padding: 50px 0;

  .footer_menu {

    width: 100%;

    .item {
      color: #fff;
      margin-right: 15px;
      font-size: 14px;
      float: left;
      a { color: #fff;}
    }

  }

  .address {

    width: 100%;
    color: #b2b2b2;
    font-size: 18px;
    margin: 30px 0;
    font-weight: 300;
  }

  .contact_details {

    a {
      color: #b2b2b2;
      font-size: 18px;
      margin: 30px 0;
      font-weight: 300;
    }
  }
}

.red {
  color: $red;
}

.success {

  padding: 20px;

}

#report_content { padding: 30px;}
#report_logo { margin-top: 10px;}
#report_title { margin-top: 80px;}
#report_graph { margin-top: 80px;}
#report_conversions { margin-top: 30px;}
#report_summary { margin-top: 30px;}

.report_stat {

  text-align: center;

  .report_title { font-size: 20px;  }
  .report_number { font-size: 60px;}
  .report_percentage { font-size: 18px; color: $green; font-weight: bold;}

}

.color_picker {

  position: absolute;
  left: -28px;
  top: 1px;
  z-index: 4;

  .color_item {

    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }

  .image_item {

    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    font-size: 27px;
    margin-top: -10px;
    cursor: pointer;
  }

}

.editor_popup {

  position: absolute;
  top: -100px;
  left: 0px;
  height: 75px;
  width: 300px;
  border: 3px solid #555555;


}


.signin {

  .signin-left {

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    padding-top: 75px;

    h2 {
      margin: 30px 0;
      font-weight: 600;
      color: #22418E;

    }

    img {
      width: 150px;
    }

    .form-control {

      border: 1px solid #ccc;

    }

  }

  .signin-right {

    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: URL('/uploads/login_background_stars.png');

  }

}


.split {

  .split-left {

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    padding-top: 75px;

    h4 {
      margin: 30px 0;
      font-weight: 600;
      color: #22418E;

    }

    img {
      width: 150px;
    }

    .form-control {

      border: 1px solid #ccc;

    }

  }

  .split-right {

    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: URL('/uploads/login_background_stars.png');

  }

}

.breadcrumb {

  float: left;
  position:relative;
  background: #FFF;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;


  .b_menu_arrow_down {
    position: absolute;
    right: 7px;
    top: 23px;
    margin-left: 20px;

  }
  .b_menu_arrow_up {
    position: absolute;
    right: 7px;
    top: 23px;
    margin-left: 20px;

  }

  .b-title {
    font-size: 10px;
    text-transform: uppercase;
    width: 100%;
  }

  .b-name {
    font-size: 14px;


  }

  .b-popup {

    color: #555555;
    position: absolute;
    top: 48px;
    left: 0px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    width: 250px;

    .menu_item {

      border-bottom: 1px solid #f2f2f2;
      padding: 10px 10px;
      font-size: 14px;
      position: relative;

      .menu_settings {

        position: absolute;
        right: 7px;
        top: 15px;

      }

      &:hover {
        background-color: #f2f2f2;
      }
    }

  }

}



#dtable_filter { width: 100%; text-align: left; }
#dtable_filter label { display: block; width: 100%; color: transparent; }
#dtable_filter input { -webkit-appearance:none; border: 1px solid #ccc; width: 100%; height: 40px; color: #555; padding-left: 15px; font-weight: 300; }

#dtable td { border-top: 1px solid #d3d4d6; border-right: 0px solid #f8f8f8; padding: 15px; font-weight: 400; color: #2E2F31; }
#dtable th { border: 0; font-weight: 200; }
#dtable { border-bottom: 0; }

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0;
}
